.navbar-size {
    width: 95%;
    margin: 0 auto;
}

.user-image-size {
    height: 56px;
    margin: 4px 0;
}

.main-body {
    background-color: #F28487;
    color: white;
    height: calc(100vh - 64px);
}

.materialboxed-image {
    height: 300px;
    margin: 20px auto;
}

.btn {
    background-color: #EE6E73;
    margin-top: 20px;
}